amqp==1.4.9
anyjson==0.3.3
billiard==3.3.0.23
celery==3.1.17
dj-database-url==0.4.2
Django==1.10.5
django-appconf==1.0.2
django-bootstrap3==8.1.0
django-celery==3.2.1
django-celery-email==2.0.0
django-jsonview==0.4.3
gunicorn==19.7.1
kombu==3.0.37
oauthlib==2.0.1
psycopg2==2.7.3.1
pytz==2017.2
requests==2.13.0
requests-oauthlib==0.7.0
six==1.10.0
swapper==0.1.1
tweepy==3.5.0
twitter-monitor==0.3.0
vine==1.1.4
whitenoise==3.3.1