{% extends 'base.html' %}

{% block title %}Complaints{% endblock %}

{% block content %}
<br>
<table class="table table-bordered">
	<thead class="thead-default">
    	<tr class="row">
			<th class="col-sm-3">Posted By</th>
			<th class="col-sm-6">Complaint</th>
			<th class="col-sm-3">Details</th>
    	</tr>
	</thead>
	<tbody>
	{% for complaint in complaints %}
		<tr class="row">
			<td class="col-sm-3">{{complaint.posted_by}}</td>
			<td class="col-sm-6">{{complaint.data}}</td>
			<td class="col-sm-3"><a href="/complaint/{{complaint.id}}/"> <button class="btn btn-primary btn-block text-center" type="button">View</button> </a> </td>
		</tr>
	{% endfor %}

	</tbody>
</table>
{% endblock %}